@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}

.product__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}

.product__box {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.product__box::before {
    content: "BEATS";
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6em;
    font-weight: 900;
    counter-reset: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.product__box::after {
    content: "AUDIO";
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5em;
    font-weight: 900;
    counter-reset: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.product__box::before,
.product__box::after {
    opacity: 0.04;
}

.product__box__name {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}