@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: #131313;
}

.general-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.product__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}

/* Box */
.product__box {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}

/* Professional Audio */
.product__box__text {
    position: absolute;
    /* display: none; */
    top: 12%;
    left: 80px;
    font-weight: 700;
    font-style: italic;
}   

/* Product Name (Color Model) */
.product__box__name {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transform: translate3d(0,0,140px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

    .product__box:hover .product__box__name {
        top: 60px;
        opacity: 1;
    }

/* Buy */
.product__box__buy {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,150px);
    color: #fff;
    font-weight: 600;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

    .product__box:hover .product__box__buy {
        transform: translate3d(-50%,-50%,150px);
        bottom: 30px;
        opacity: 1;
    }

/* Circle */
.product__box__circle {
    position: absolute;
    top: 63%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #fff;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,0px);
    z-index: 10;
    opacity: 0.7;
}

    .product__box:hover .product__box__circle {
        opacity: 1;
    }

/* Product */
.product__box__product {
    width: 230px;
    position: absolute;
    top: 50%;
    left: 46%;
    max-width: 300px;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,10px) rotate(8deg);
    z-index: 10;
}

    .product__box:hover .product__box__product {
        transform: translate3d(-50%,-50%,80px) rotate(-16deg);
        width: 330px
    }

/* Colors Circle and Buy */
.product__box:nth-child(1) .product__box__circle,
.product__box:nth-child(1) .product__box__buy {
    background: #33cfcf;
}
.product__box:nth-child(2) .product__box__circle,
.product__box:nth-child(2) .product__box__buy {
    background: #eac62c;
}
.product__box:nth-child(3) .product__box__circle,
.product__box:nth-child(3) .product__box__buy {
    background: #f3308b;
}

/* Color Text (title) */
.product__box__text-1 {
    color: #33cfcf;
}
.product__box__text-2 {
    color: #eac62c;
}
.product__box__text-3 {
    color: #f3308b;
}

.footer {
    font-weight: 200;
    font-size: 16px;
    font-style: italic;
    color: #333;
    text-align: center;
    margin-top: -150px;
}
